<footer class="footer" id="footer">
   <div class="f_info_links">
      <div>&copy; Adventure Express Pvt Ltd</div>
      <div class="f_info_links_conditon">
        <a href="/privacy">&copy; Privacy</a>
        <a href="/terms">&copy; Terms</a>
      </div>
    </div>
    <div class="f_info_socials">
      <a href="/facebook">
         <img src="/facebook.png" alt="fb">
      </a>
      <a href="/instagram">
         <img src="/instagram.png" alt="in">
      </a>
      <a href="/linkedin">
         <img src="/linkedin.png" alt="linkedin">
      </a>
    </div>
</footer>